<div class="language-selection row row-cols-3">
    <div class="col text-center">
        <a routerLink="/pt/code" title="Português">
            <span class="fi fi-pt"></span>
        </a>
    </div>
    <div class="col text-center">
        <a routerLink="/pt/code" title="Inglês">
            <span class="fi fi-us"></span>
        </a>
    </div>
    <div class="col text-center">
        <a routerLink="/pt/code" title="Espanhol">
            <span class="fi fi-es"></span>
        </a>
    </div>
    <div class="col text-center">
        <a routerLink="/pt/code" title="Francês">
            <span class="fi fi-fr"></span>
        </a>
    </div>
    <div class="col text-center">
        <a routerLink="/pt/code" title="Alemão">
            <span class="fi fi-de"></span>
        </a>
    </div>
    <div class="col text-center">
        <a routerLink="/pt/code" title="Italiano">
            <span class="fi fi-it"></span>
        </a>
    </div>
</div>