section {
    width: 90dvw;
    height: 83dvh;
}

.gray-container {
    background-color: gray;
    min-height: 45dvh;
    width: 84dvw;
    border-radius: 3px;
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.6);
}